# Adresse de l'API. En local : ne mets RIEN (http://localhost:5000 par défaut).
# En ligne (Netlify) : l'adresse de ton API Render, SANS slash final et SANS /api.
# VITE_API_URL=https://ton-api.onrender.com
VITE_GOOGLE_CLIENT_ID=123456-abc.apps.googleusercontent.com
GOOGLE_CLIENT_ID=927584398662-8h5spsd05a8gj1dt7q1oj7t6jc9t4n3i.apps.googleusercontent.com
CLOUDINARY_URL=cloudinary://772526822125961:aFLwm5IswkpjxlwSQouGrkYrtag@kz1ufngt